{% extends "base.html" %}

{% block title %}Reconciliation Dashboard{% endblock %}

{% block content %}
{% load humanize %}
<div id="content-header">
    <h1> Reconciliation <small> Dashboard </small></h1>
</div>

<div id="breadcrumb">
    <a href="{% url 'core:home' %}" class="tip-bottom" data-original-title="Go to Home"><i class="glyphicon glyphicon-home"></i> Home</a>
    <a href="{% url 'b2b:HOInvoicingHome' %}"><i class="glyphicon glyphicon-list-alt"></i><strong>Invoicing</strong></a>
    <a href="{% url 'b2b:reconHome' %}"><i class="glyphicon glyphicon-list-alt"></i><strong>Reconciliation</strong></a>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 center" style="text-align: center;">
            <ul class="quick-actions">
                <li>
                    <a href="{% url 'b2b:newRecon' %}" class="tip-bottom" data-original-title="New Reconciliation">
                        <i class="icon-survey"></i>
                        New
                    </a>
                </li>
                <li>
                    <a href="{% url 'b2b:searchRecons' 'COMPLETED' %}" class="tip-bottom" data-original-title="View All Reconciliations completed previously">
                        <i class="icon-cabinet"></i>
                        Archived
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <!--
        <div class="col-8">
            <div class="widget-box collapsible">
                <div class="widget-title">
                    <a href="#collapseOne" data-toggle="collapse">
                        <span class="icon">
                            <i class="glyphicon glyphicon-time"></i>
                        </span>
                        <h5>Saved/Pending Reconciliations</h5>
                        <span class="label label-warning">{{ pending|length }}</span>
                    </a>
                </div>
                <div class="collapse in" id="collapseOne">
                    <div class="widget-content">
                        {% if pending %}
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Distributor</th>
                                        <th>Dates</th>
                                        <th>Created by</th>
                                        <th>Invoice Total</th>
                                        <th>System Total</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for recon in pending %}
                                    <tr>
                                        <td>{{ recon.brand.brand }}</td>
                                        <td>{{ recon.startDate|date:'d/M/Y' }} - {{ recon.endDate|date:'d/M/Y' }}</td>
                                        <td>{{ recon.createdBy.name }} <small>{{ recon.created|naturaltime }}</small></td>
                                        <td>{{ recon.statementTotal }}</td>
                                        <td>{{ recon.totalInvoices }}</td>
                                        <td>
                                            <a class="btn btn-primary" href="{% url 'b2b:openRecon' recon.id %}"><i class="glyphicon glyphicon-pencil"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                        <p>There are no pending recons.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        -->
        <div class="col-12">
            <div class="widget-box collapsible">
                <div class="widget-title">
                    <a href="#collapseTwo" data-toggle="collapse">
                        <span class="icon">
                            <i class="glyphicon glyphicon-time"></i>
                        </span>
                        <h5>Recently Completed Reconciliations</h5>
                        <span class="label label-success">{{ completed|length }}</span>
                    </a>
                </div>
                <div class="collapse in" id="collapseTwo">
                    <div class="widget-content">
                        {% if completed %}
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Distributor</th>
                                        <th>Dates</th>
                                        <th>Created by</th>
                                        <th>Statement Total</th>
                                        <th>Selected Total</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for recon in completed %}
                                    <tr>
                                        <td>{{ recon.distributor.distributor }}</td>
                                        <td> Recon for {{ recon.endDate|date:'d M Y' }}</td>
                                        <td>{{ recon.createdBy.name }} <small>{{ recon.created|naturaltime }}</small></td>
                                        <td>{{ recon.statementTotal }}</td>
                                        <td>{{ recon.totalInvoices }}</td>
                                        <td>
                                            <a class="btn btn-primary" onclick="return confirm('Are you sure you wish to reverse this recon?')" href="{% url 'b2b:reverseRecon' recon.id %}"><i class="glyphicon glyphicon-refresh"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                        <p>There are no completed recons.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}