{% extends "base.html" %}

{% block title %}

    {% if isBrandRep %}
        Create a new brand rep
    {% else %}
        Create a new contact
    {% endif %}

{% endblock %}

{% block content %}

<div id="content-header">
    {% if isBrandRep %}
        <h1>Brand Rep<small> Add</small></h1>
    {% else %}
        <h1>Contact<small> Add</small></h1>
    {% endif %}
</div>

<div id="breadcrumb">
    <a href="{% url 'core:home' %}" class="tip-bottom" data-original-title="Go to Home"><i class="glyphicon glyphicon-home"></i> Home</a>
    <a href="{% url 'tele:home' %}" class="tip-bottom" data-original-title="Go to Contacts Home"><i class="glyphicon glyphicon-book"></i> Contacts</a>
    {% if isBrandRep %}
        <a href="{% url 'tele:brandLookup' %}" class="tip-bottom" data-original-title="Go to Brands"><i class="glyphicon glyphicon-tag"></i> Brands</a>
        <a href="{% url 'tele:viewBrand' brand.id %}" class="tip-bottom" data-original-title="View {{ brand.brand}}"><i class="glyphicon glyphicon-flag"></i> {{ brand.brand}}</a>
        <a href="">Add Local Brand Rep</a>
    {% else %}
        {% if globalContactAdd %}
            <a href="{% url 'tele:headOfficeContactLookup' %}" class="tip-bottom" data-original-title="Go to Head Office Contacts"><i class="glyphicon glyphicon-book"></i> Head Office Contacts</a>
            <a href="">Add Head Office Contact</a>
        {% else %}
            <a href="{% url 'tele:localContactLookup' %}" class="tip-bottom" data-original-title="Go to Local Contact"><i class="glyphicon glyphicon-book"></i> Local Contacts</a>
            <a href="">Add Local Contact</a>
        {% endif %}
    {% endif %}
</div>

<div class="container-fluid">
    <div class="row">
            <div class="col-12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                        <h5>Add Contact</h5>
                    </div>
                    <div class="widget-content">
                        <form method="POST" class="form-horizontal">
                            <div class="row">
                                <div class="col-12">
                                    {% load crispy_forms_tags %}
                                    {% crispy form %}
                                    <div class="form-actions" style="text-align: right">
                                      <button type="submit" class="btn btn-primary btn-large">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </div>
</div>
</form>

{% endblock %}

{% block javascript %}
    <script src="{{ STATIC_URL }}js/unicorn.form_common.js"></script>
{% endblock %}