<table style="width:100%;font-family:arial,sans-serif;" border="0">
    <tr>
        <td style="text-align:center;font-size:22px;color:#ffff00;background-color:#000000">
             THE BELOW COLLATION IS NOW OPEN PLEASE PLACE ORDERS ASAP
        </td>
    </tr>
    <tr>
        <td style="text-align:center;font-size:18px;">
               {{ bulletin.subject }}
        </td>
    </tr>
    <tr>
        <td style="text-align:center;font-size:18px;">
               This collation will close in {{ bulletin.endDate|timeuntil }}
        </td>
    </tr>
</table>