{% extends "base.html" %}

{% block title %}Head Office Stock Dashboard{% endblock %}

{% block css %}
    <style type="text/css">
        .hoverList {
            font-size: 20px;
        }
    </style>
{% endblock %}

{% block content %}

<div id="content-header">
    <h1> Head Office <small> Stock Management </small></h1>
</div>

<div id="breadcrumb">
    <a href="{% url 'core:home' %}" class="tip-bottom" data-original-title="Go to Home"><i class="glyphicon glyphicon-home"></i> Home</a>
    <a href="{% url 'stock:dashboard' %}"><i class="glyphicon glyphicon-gift"></i>Stock/Invoicing</a>
    <a href="{% url 'b2b:stockOrderHome' %}"><i class="glyphicon glyphicon-list-alt"></i><strong>Stock Ordering</strong></a>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 center" style="text-align: center;">
            <ul class="quick-actions">
                <li>
                    <a href="{% url 'core:searchProducts' %}" class="tip-bottom" data-original-title="Add/Edit Products">
                        <i class="icon-book"></i>
                        Products
                    </a>
                </li>
                <li>
                    <a href="{% url 'b2b:newStockOrder' %}" class="tip-bottom" data-original-title="Add/Edit Categories">
                        <i class="icon-cabinet"></i>
                        Categories
                    </a>
                </li>
                <li>
                    <a href="{% url 'core:searchProductTags' %}" class="tip-bottom" data-original-title="Search/Add/Edit Tags">
                        <i class="icon-tag"></i>
                        Tags
                    </a>
                </li>
                <li>
                    <a href="{% url 'core:searchBrands' %}" class="tip-bottom" data-original-title="Search/Add/Edit Brands">
                        <i class="icon-link"></i>
                        Brands
                    </a>
                </li>
                <li>
                    <a href="{% url 'core:searchSuppliers' %}" class="tip-bottom" data-original-title="Search/Add/Edit Distributors & Suppliers">
                        <i class="icon-supplier"></i>
                        Distributors
                    </a>
                </li>
                <li>
                    <a href="{% url 'core:searchVendorBonus' %}" class="tip-bottom" data-original-title="Search/Edit Class Vendor Bonus">
                        <i class="icon-star"></i>
                        Vendor Bonus
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}