{% load br %}

<div class="col-lg-2">
    <div class="widget-box collapsible">
        <div class="widget-title">
            <a href="#collapseFour" data-toggle="collapse">
                <span class="icon">
                    <i class="glyphicon glyphicon-chevron-down"></i>
                </span>
                <h5>Front Image</h5>
            </a>
        </div>
        <div class="collapse" id="collapseFour">
            <div class="widget-content">
                <img src="{{ metaData.frontpage_image_URL }}" alt="" width="66" height="66">
            </div>
        </div>
    </div>
</div>
