    <div id="breadcrumb">
        <a href="{%url 'home'%}" title="" class="tip-bottom" data-original-title="Go to Home">
            <i class="fa fa-home"></i><span class="glyphicon glyphicon-home"></span> Home</a>
        <a href="{%url 'core_stock:stock_range'%}" title="" class="tip-bottom" data-original-title="Back to Ranging"><i class="glyphicon glyphicon-flag"></i>Ranging Home</a>
        <a href="#" class="current"><i class="glyphicon glyphicon-barcode"></i>Product Ranges </a>
	</div>
	<div class="col-12">
        <br>

        <div class="widget-box">
             <div class="widget-title">
                <h5>Product Ranges</h5>
                 <div class="buttons">
                 <a class="btn btn-mini" href='{% url "core_stock:stock_range"%}'> <span class="glyphicon glyphicon-eye-open"></span> View Store Ranges</a>
                     </div>
             </div>
            <div class="widget-content">
                <div class="row">
                    <div class="col-lg-4 col-sm-12" >


                            <div class="widget-box">
                            <div class="widget-title">
                                <h5 style="width:100%; background-color: gold; color:black;">Gold</h5>
                            </div>
                            <div class="widget-content">
                            <table class="table table-bordered" style="background-color: lightgoldenrodyellow;">
                                <tr>
                                    <th style="width:40px;">Edit</th>
                                    <th>Gold</th>
                                    <th>Bonus</th>

                                </tr>
                                {% for i in gold%}
                                <tr>
                                    <td><a href="{%url 'core_stock:updateprodct' pk=i.id%}"><span class="glyphicon glyphicon-edit"></span></a></td>
                                    <td>{{i.product.model}}</td>
                                    <td style="text-align:center;" >$ {{i.bonus}}</td>
                                </tr>
                                 {%endfor%}
                            </table>
                                </div>
                        </div>

                    </div>
                    <div class="col-lg-4 col-sm-12">

                            <div class="widget-box">
                                <div class="widget-title">
                                     <h5 style="width:100%; background-color: silver; color:black;">Silver</h5>
                                </div>
                                <div class="widget-content">
                                <table class="table table-bordered" style="background-color:#F6F6F6;">
                                    <tr>
                                        <th style="width:40px;">Edit</th>
                                        <th>Silver</th>
                                        <th>Bonus</th>
                                    </tr>
                                    {% for i in silver%}
                                    <tr>
                                        <td><a href="{%url 'core_stock:updateprodct' pk=i.id%}"><span class="glyphicon glyphicon-edit"></span></a></td>
                                        <td>{{i.product.model}}</td>
                                        <td style="text-align:center;" >$ {{i.bonus}}</td>
                                   </tr>
                                    {%endfor%}
                                </table>
                                    </div>
                             </div>

                    </div>
                    <div class="col-lg-4 col-sm-12">

                            <div class="widget-box">
                            <div class="widget-title">
                                <h5 style="width:100%; background-color: #DFCE59; color:black;">Bronze</h5>
                            </div>
                            <div class="widget-content">
                            <table class="table table-bordered" style="background-color:#FFE8BD">
                                <tr>
                                    <th style="width:40px;">Edit</th>
                                    <th>Bronze</th>
                                    <th>Bonus</th>
                                </tr>
                                {% for i in bronze%}
                                <tr>
                                    <td><a href="{%url 'core_stock:updateprodct' pk=i.id%}"><span class="glyphicon glyphicon-edit"></span></a></td>
                                    <td>{{i.product.model}}</td>
                                    <td style="text-align:center;" >$ {{i.bonus}}</td>
                                </tr>
                                {%endfor%}
                            </table>
                                </div>
                                </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
