<div class="row">
    <div class="col-12 col-lg-6">
        <div class="widget-box collapsible">
            <div class="widget-title">
                <a href="#collapseOne" data-toggle="collapse">
                    <span class="icon">
                        <i class="glyphicon glyphicon-chevron-up"></i>
                    </span>
                    <h5>Store Summary</h5>
                </a>
            </div>
            <div class="collapse in" id="collapseOne">
                <div class="widget-content">
                    <table class="table table-bordered">
                        <tr>
                            <td>Name</td>
                            <td> {{ object.name}}</td>
                        </tr>
                        <tr>
                            <td>Group</td>
                            <td> {{ object.group}}</td>
                        </tr>
                        <tr>
                            <td>Code</td>
                            <td> {{ object.code}}</td>
                        </tr>
                        <tr>
                            <td>Contact</td>
                            <td> {{ object.contact}}</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td> {{ object.address}}</td>
                        </tr>
                        <tr>
                            <td>Suburb</td>
                            <td> {{ object.suburb}}</td>
                        </tr>
                        <tr>
                            <td>City</td>
                            <td> {{ object.city}}</td>
                        </tr>
                        <tr>
                            <td>State</td>
                            <td> {{ object.state}}</td>
                        </tr>
                        <tr>
                            <td>Postcode</td>
                            <td> {{ object.postcode}}</td>
                        </tr>
                        <tr>
                            <td>Fax</td>
                            <td> {{ object.fax}}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td> {{ object.email}}</td>
                        </tr>
                        <tr>
                            <td>Phone</td>
                            <td> {{ object.phone}}</td>
                        </tr>
                        <tr>
                            <td>Company Name</td>
                            <td> {{ object.companyName}}</td>
                        </tr>
                        <tr>
                            <td>ABN</td>
                            <td> {{ object.ABN}}</td>
                        </tr>
                        <tr>
                            <td>ACN</td>
                            <td> {{ object.ACN}}</td>
                        </tr>
                        <tr>
                            <td>GLN</td>
                            <td> {{ object.GLN}}</td>
                        </tr>
                        <tr>
                            <td>spanStoreID</td>
                            <td> {{ object.spanStoreID}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
