{% extends "b2b/invoicing/base.html" %}

{% block title %}New HO Invoice{% endblock %}

{% block content %}

    {% block heading %} <!--VW needs to extend this block-->

    <div id="content-header">
        {% if invoice %}
            <h1> Edit Invoice <small> - {{ invoice.invoiceNumber }}</small> </h1>
        {% else %}
            <h1> New <small>Invoice</small> </h1>
        {% endif %}
    </div>

    {% endblock %}

    <div id="breadcrumb">

        {% block breadcrumb %} <!--VW needs to extend this block-->

        <a href="{% url 'core:home' %}" class="tip-bottom" data-original-title="Go to Home"><i class="glyphicon glyphicon-home"></i> Home</a>
        <a href="{% url 'b2b:HOInvoicingHome' %}"><i class="glyphicon glyphicon-book"></i>HO Invoicing</a>
        <a href="{% url 'b2b:newHOInvoice' %}"><i class="glyphicon glyphicon-plus-sign"></i><strong>{% if invoice %}Edit{% else %}New{% endif %}</strong></a>

        {% endblock %}

    </div>

    <div class="container-fluid">
        <div class="col-6">
            <div class="widget-box collapsible">
                <div class="widget-title">
                    <a href="#collapseOne" data-toggle="collapse">
                        <span class="icon">
                            <i class="glyphicon glyphicon-info-sign"></i>
                        </span>
                            <h5>Invoice Information</h5>
                            <div class="buttons">

                            {% block linkB2B %} <!--VW needs to extend this block-->

                            <a id="linkB2B" role="button" class="btn btn-mini"><i class="glyphicon glyphicon-cog"></i> Link To B2B Invoice</a>

                            {% endblock %}

                        </div>
                    </a>
                </div>
                <div class="collapse in" id="collapseOne">
                    <div class="widget-content">
                        <form id="InvoicingInformationForm" class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label" for="invoiceType">Invoice Type</label>

                                <div class="controls">

                                    {% block invoiceType %} <!--VW needs to extend this block-->

                                    <select id="invoiceType">

                                        <option value="Purchase of stock">Purchase of stock</option>
                                        <option value="Return of stock">Return of stock</option>
                                        <option value="Claim">Claim</option>
                                        <option value="Advertising Allowance">Advertising Allowance</option>
                                        <option value="Stretch Target">Stretch Target</option>
                                        <option value="Rebate (Credit)">Rebate (Credit)</option>
                                        <option value="Rebate (Debit)">Rebate (Debit)</option>

                                    </select>

                                    {% endblock %}

                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="selectDistributor">Distributor</label>
                                <div class="controls">
                                    <select id="selectDistributor">
                                        {% for supplier in distributors %}
                                            <option value="{{ supplier.name }}">{{ supplier.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="selectStore">Store</label>
                                <div class="controls">

                                    {% block selectStore %} <!--VW needs to extend this block-->

                                    <select id="selectStore">

                                        {% for store in stores %}
                                            <option value="{{ store.id }}">{{ store.name }}</option>
                                        {% endfor %}

                                    </select>

                                    {% endblock %}

                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="invoiceNumber">Invoice Number</label>
                                <div class="controls">

                                    {% block invoiceNumber %} <!--VW needs to extend this block-->

                                    <input type="text" id="invoiceNumber" placeholder="Invoice Number">

                                    {% endblock %}

                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="invoiceDate">Invoice Date</label>
                                <div class="controls">
                                    <input type="text" id="invoiceDate" placeholder="dd/mm/yyyy">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="orderReference">Order Reference</label>
                                <div class="controls">
                                    <input type="text" id="orderReference" placeholder="Order Reference/ Claim Number">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="otherInvoiceRef">Reference to Other Invoice</label>
                                <div class="controls">
                                    <input type="text" id="otherInvoiceRef" placeholder="Invoice Number">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="extendedCredit">Extended Credit</label>
                                <div class="controls">
                                    <input type="checkbox" id="extendedCredit" value="extendedCredit">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="dueDate">Due Date</label>
                                <div class="controls">
                                    <input type="text" id="dueDate" disabled="true" placeholder="dd/mm/yyyy">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="widget-box collapsible">
                <div class="widget-title">
                    <span class="icon">
                        <i class="glyphicon glyphicon-file"></i>
                    </span>
                        <h5>Head Office Comments</h5>
                </div>
                <div class="widget-content">
                    <textarea id="hoComments" rows="4" style="width:100%">​</textarea>
                </div>
            </div>
            <div class="widget-box collapsible">
                <div class="widget-title">
                    <span class="icon">
                        <i class="glyphicon glyphicon-info-sign"></i>
                    </span>
                    <h5>Information for Store on Invoice</h5>
                </div>
                <div class="widget-content">
                    <textarea id="storeComments" rows="4" style="width:100%">​</textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="widget-box collapsible">
                    <div class="widget-title">
                        <a href="#collapseTwo" data-toggle="collapse">
                            <span class="totalgreen label label-success">Total Store Net : $0.00</span>
                        <span class="icon">
                            <i class="glyphicon glyphicon-barcode"></i>
                        </span>
                            <h5>Order Models/Products</h5>
                            <div class="buttons">

                                {% block freight %} <!--VW needs to extend this block-->

                                <a id="changeFreight" role="button" class="btn btn-mini"><i class="glyphicon glyphicon-inbox"></i> Freight</a>

                                {% endblock %}

                                <a id="addProductButton" href="#addProduct" role="button" class="btn btn-mini" data-toggle="modal"><i class="glyphicon glyphicon-plus"></i> Add Product</a>
                            </div>
                        </a>
                    </div>
                    <div class="collapse in" id="collapseTwo">
                        <div class="widget-content InvoiceTableDiv">

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="widget-box">
                    <div class="widget-content">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-actions" style="text-align: right">

                                    {% block completeHOInvoice %} <!--VW needs to extend this block-->

                                    {% if invoice %}
                                        <a id="completeHOInvoice" class="btn btn-large btn-info disabled">Confirm Invoice</a>
                                        <a id="deleteInvoice" onclick="return confirm('Are you sure you want to delete this invoice ?')" href="{% url "b2b:deleteHOInvoice" invoice.id %}" class="btn btn-large btn-info">Delete Invoice</a>
                                    {% else %}
                                        <a id="completeHOInvoice" class="btn btn-large btn-info disabled">Create Invoice</a>
                                    {% endif %}

                                    {% endblock %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="netBreakDown">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">×</button>
                        <h3>Cost Price Breakdown</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <div id="netBreakDownContent">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}