{% extends "core/product/search.html" %}

{% block header %}
    <div id="content-header">
        <h1> Products <small> Search </small></h1>
        <div class="btn-group">
            <a href="{% url 'core:createProduct' %}" class="btn btn-large tip-bottom" data-toggle="modal" title="Add Product"><i class="glyphicon glyphicon-plus"></i> Add Product</a>
            <a href="{% url 'core:createWarranty' %}" class="btn btn-large tip-bottom" data-toggle="modal" title="Add Cust Care Plan"><i class="glyphicon glyphicon-plus"></i> Add Cust Care Plan </a>
        </div>
    </div>

    <div id="breadcrumb">
        <a href="{% url 'core:home' %}" class="tip-bottom" data-original-title="Go to Home"><i class="glyphicon glyphicon-home"></i> Home</a>
        <a href="{% url 'core:searchProducts' %}" class="tip-bottom" data-original-title="Search for Products"><i class="glyphicon glyphicon-barcode"></i>Products</a>
        <a href="">Search</a>
    </div>
{% endblock %}

{% block formaction %}{% url 'core:searchProducts' %}{% endblock %}